# Cars challenges

###### **Exercise 1:**
read the `vehicles.csv` and set it to a variable called `cars`. We will use it for some extra challenges.

In [ ]:
#vehicles.csv https://drive.google.com/file/d/18zYGrzRhn_mz1HJLXxSO_MwR0_nWBS3K/view?usp=sharing
#cars = pd.read_csv('https://drive.google.com/file/d/18zYGrzRhn_mz1HJLXxSO_MwR0_nWBS3K')

In [ ]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "cars": "18zYGrzRhn_mz1HJLXxSO_MwR0_nWBS3K", 
}

# Read data from Google Drive
cars = pd.read_csv(gd_path(files_id["cars"]))

In [ ]:
cars.sample(5)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
24742,Mercury,Milan,2009,2.3,4.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Regular,14.330870,20,28,23,386.391304,1450
9119,Dodge,Caliber,2009,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Small Station Wagons,Regular,13.733750,23,27,24,370.291667,1400
7410,Chevrolet,Suburban C10 2WD,1984,6.2,8.0,Automatic 4-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Diesel,22.481471,15,19,17,598.823529,2150
1877,BMW,335ci,2010,3.0,6.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,16.480500,17,26,20,444.350000,2000
27780,Plymouth,Acclaim,1995,3.0,6.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,15.695714,19,24,21,423.190476,1600

###### **Exercise 2:**
create a column called `Auto` filled with either `True` or `False` depending on whether the transmission is Automatic or not.

In [ ]:
len(cars)
cars.Transmission.sample(10)
cars.Transmission.str.contains("Auto").head(10)
cars["Auto"] = cars.Transmission.str.contains("Auto")

In [ ]:
cars.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Auto
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,True
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,True
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,True
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,True
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,False
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,True
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,True
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,False

###### **Exercise 3:**
create a column called `Speeds` that contains the number of speeds each transmission has, based on the number that appears in the column `Transmission`. For example, a transmission named "Automatic 4-spd" has 4 speeds, and one named "Auto (AM6)" has 6 speeds. If you find edge cases (e.g. numbers that do not make sense, no number at all...), use your own judgement to assign values to them.

Note: you will most likely need to use a "Regular Expression" (or "regex") inside of the string method. Regular expressions are sequences of characters designed to match patterns. They can become really complex (to match complex patterns), but for this case, a simple [5 minute tutorial](https://www.youtube.com/watch?v=UQQsYXa1EHs&ab_channel=Kite) or some googling should be enough. Whenever you see people writing regex in plain python, remember that you can use any regular expression directly inside of a Pandas `str` method.

In [ ]:
cars.Transmission.str.findall(r'[0-9]').sample(10)

30964    [5]
17887    [6]
5851     [4]
65       [4]
26941     []
17307    [5]
5827     [6]
1863     [6]
9932     [4]
20644    [5]
Name: Transmission, dtype: object

In [ ]:
cars.Transmission.str.findall(r'(\d)').sample(10)
cars.Transmission.str.extract(r'(\d)').sample(10)

       0
28712  5
15526  4
17782  4
10002  3
3412   4
17636  5
27487  3
3181   8
4106   4
26638  5

In [ ]:
cars["Speeds"] = cars.Transmission.str.findall(r'[0-9]')
cars.head(5)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Auto,Speeds
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,True,[3]
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True,[3]
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,True,[3]
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,True,[3]
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,True,[4]

In [ ]:
cars.Speeds.sample(10)

7722     [4]
10314    [5]
3603     [4]
16699    [4]
4390     [4]
6800     [3]
33952    [5]
19109    [5]
20650    [5]
17359     []
Name: Speeds, dtype: object

###### **Exercise 4:**
remove non-alphanumeric characters from the "Drivetrain" and the "Make" column

In [ ]:
cars.Drivetrain.replace(r'\-|[0-9]\-',' ', regex=True).sample(10)

20824     Wheel or All Wheel Drive
8748             Front Wheel Drive
16510             Rear Wheel Drive
6583              Rear Wheel Drive
34131            Front Wheel Drive
11798                  Wheel Drive
26783            Front Wheel Drive
18431              All Wheel Drive
11744             Rear Wheel Drive
26145             Rear Wheel Drive
Name: Drivetrain, dtype: object

In [ ]:
cars["Drivetrain"] = cars.Drivetrain.replace(r'\-|[0-9]\-',' ', regex=True)
cars.Drivetrain.sample(5)

34115            Front Wheel Drive
20564            Front Wheel Drive
11085     Wheel or All Wheel Drive
19142     Wheel or All Wheel Drive
7523              Rear Wheel Drive
Name: Drivetrain, dtype: object

In [ ]:
cars.Make.replace(r'\-', " ", regex=True).sample(5)

22178    Maserati
10506       Dodge
20428         Kia
8036     Chrysler
3065          BMW
Name: Make, dtype: object

In [ ]:
cars['Make'] = cars.Make.replace(r'\-',' ', regex=True)
cars.sample(5)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Auto,Speeds
27091,Nissan,Truck 2WD,1991,2.4,4.0,Automatic 4-spd,Rear Wheel Drive,Small Pickup Trucks,Regular,16.480500,18,24,20,444.350000,1650,True,[4]
15593,GMC,Savana 1500/2500 AWD (cargo),2004,5.3,8.0,Automatic 4-spd,Wheel or All Wheel Drive,"Vans, Cargo Type",Regular,23.543571,13,17,14,634.785714,2400,True,[4]
21633,Lincoln,MKT FWD,2016,3.7,6.0,Automatic (S6),Front Wheel Drive,Standard Sport Utility Vehicle 2WD,Regular,17.347895,16,24,19,468.000000,1750,True,[6]
27734,Peugeot,505 Station Wagon,1988,2.2,4.0,Automatic 4-spd,Rear Wheel Drive,Midsize-Large Station Wagons,Regular,18.311667,17,20,18,493.722222,1850,True,[4]
5782,Chevrolet,Express 1500/2500 2WD,1998,5.7,8.0,Automatic 4-spd,Rear Wheel Drive,"Vans, Passenger Type",Regular,23.543571,12,17,14,634.785714,2400,True,[4]

In [ ]:
cars.Speeds.replace(r'\[|\]',' ', regex = True).sample(10)

17758    [4]
26698    [4]
8211     [5]
34852    [4]
26246     []
18690    [7]
24460    [7]
6947     [4]
20630    [5]
6045     [5]
Name: Speeds, dtype: object